"""
{{SYSTEM_NAME}} Specialist Agents
Domain-specific agents that handle specialized tasks.
"""
{{#each SPECIALIST_NAMES}}
from .{{this}} import {{this}}_agent
{{/each}}

__all__ = [
{{#each SPECIALIST_NAMES}}
    "{{this}}_agent",
{{/each}}
]
